* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    width: 25px;
    margin: auto;
}

button {
    color: black;
    background-color: bisque;
}

label{
    font-size: larger;
    font-weight: 500;
    color: black;

}

